/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni
s pribyvajici sirkou pridavame media query pro
středně široké obrazovky:
@media (min-width: 480px) {
}
široké obrazovky
@media (min-width: 860px) {
}
*/

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: 2px 2px 5px black;
    color: var(--color);
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
    display: none;
}

.paticka a {
    color: silver;
}

:root {
    --color:white;
}

.recept {
    display: flex ;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 0.5rem;
}

.recept a {
    text-decoration: none;
    color: var(--color);
    font-weight: 400;
    font-size: 0.8rem;
}

.recept-odkazy {
    display: flex;
    justify-content: space-between;

}

.recept-velky {
    --pozadi: url(images/burger.jpg);
}

.recept-maly1 {
    --pozadi: url(images/sushi.jpg);
}

.recept-maly2 {
    --pozadi: url(images/rajcata.jpg);
}

.recept-maly3 {
    --pozadi: url(images/kure.jpg);
}

.recept-maly4 {
    --pozadi: url(images/grilovani.jpg)
}

.recept-velky {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), var(--pozadi);
    min-height: 200px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.recept-maly1,
.recept-maly2,
.recept-maly3,
.recept-maly4 {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), var(--pozadi);
    min-height: 90px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top: solid 0.1rem;
}

h2 {
    margin:0;
    font-weight: 800;
    font-size: 1.2rem;
}

.recept-velky h2 {
    font-size: 1.75rem;
}

@media screen and (min-width: 480px) {
    h2 {
        font-size: 1.5rem;
    }

    .recept-velky h2 {
        font-size: 2rem;
    }

    .recept-velky {
        min-height: 250px;
    }

    .recept-maly1,
    .recept-maly2,
    .recept-maly3,
    .recept-maly4 {
        min-height: 150px;
        flex-basis: 50%;
    }
    
    .recepty-male {
        display: flex;
        flex-wrap: wrap;
    }
    
    .recept-maly1 {
        order: 1;
    }

    .recept-maly2 {
        order: 3;
    }

    .recept-maly3 {
        order: 2;
        border-left: solid 0.1rem; 
    }

    .recept-maly4 {
        order: 4;
        border-left: solid 0.1rem; 
    }

    .recept {
        padding: 1.25rem;
    }
}

@media screen and (min-width: 860px) {
    h2 {
        font-size: 1.75rem;
    }

    .recept-velky h2 {
        font-size: 3rem;
    }

    .recept-velky {
        min-height: 400px;
        min-height: 400px;
    }

    .recept-maly1,
    .recept-maly2,
    .recept-maly3,
    .recept-maly4 {
        min-height: 200px;
        min-width: 200px;
        flex-basis: 50%;
        border-left: solid 0.1rem;
    }

    body {
        display: flex;
        justify-content: center;
    }
    .recept-maly1,
    .recept-maly3 {
        border-top: none;
    }
}